<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Bowl-A-Lyzer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('player.stats') }}">Player Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('league.stats') }}">League Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('team.stats') }}">Team Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.test') }}">API Test</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dataSourceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-database"></i> <span id="currentDataSourceText">Data Source</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dataSourceDropdown">
                        <li><a class="dropdown-item data-source-option" href="#" data-source="bowling_ergebnisse.csv">
                            <i class="bi bi-file-earmark-text"></i> Simulated Data
                        </a></li>
                        <li><a class="dropdown-item data-source-option" href="#" data-source="bowling_ergebnisse_real.csv">
                            <i class="bi bi-file-earmark-text"></i> Real Data
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="currentLanguageFlag">🇩🇪</span>
                        <span id="currentLanguageText">Deutsch</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#" data-language="de">
                            <span>🇩🇪</span> Deutsch
                        </a></li>
                        <li><a class="dropdown-item" href="#" data-language="en">
                            <span>🇺🇸</span> English
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="paletteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        🎨 <span id="currentPaletteText">Palette</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="paletteDropdown">
                        <li><a class="dropdown-item palette-option" href="#" data-palette="harmonic10">Harmonic 10</a></li>
                        <li><a class="dropdown-item palette-option" href="#" data-palette="rainbowPastel">Rainbow Pastel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> 