{% extends "player/base.html" %}

{% block player_content %}
<div class="card">
    <div class="card-header">
        <h4>Player Statistics</h4>
    </div>
    <div class="card-body">
        {% if stats %}
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Player Name:</th>
                                <td>{{ stats.name }}</td>
                            </tr>
                            <tr>
                                <th>Player ID:</th>
                                <td>{{ stats.id }}</td>
                            </tr>
                            <tr>
                                <th>All-Time Average:</th>
                                <td>{{ stats.all_time_average }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <p>No statistics available for this player.</p>
        {% endif %}
    </div>
</div>
{% endblock %} 