{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!--h1>Bowling Dashboard</h1-->
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Info
            </div>
            <div class="card-body">
                <!-- We'll add stats here later -->
                <p>Diese Seite ist ein Proof of Concept zur Darstellung von Ergebnissen und Statistiken rund um Bowling Ligen, Tuniere und Pokalwettbewerbe.</p>
                <p>Die Auswertungen sind oben über die Navigation zu "League Stats" und "Player Stats" zu finden.</p>
                <p>Hauptaugenmerk liegt derzeit auf den Ligastatistiken.</p>
                <p>Momentan ist die Seite noch nicht wirklich an Mobilgeräte angepasst, am besten also per PC oder Tablet versuchen.</p>
                <p>Bitte kommt mit Feedback und Vorschlägen gerne per Whatsapp oder im Traning auf mich zu.</p>
                <p>  Cheers, Chris</p>
            </div>
        </div>
    </div>
</div>